/*GENERAL STYLES*/

/*
#663311 saddlebrown
#bc9c63 darkkhaki
#973c13 redbrown
#5c8d23 olive
#a2adb9	blue grey 
*/
body {
	font-family: 'Lucida Grande', sans-serif;
	font-size:0.8em;
	margin:0;
	padding:0;
	width:100%;
	line-height:30px;
	color: black;
	/*background: #ECF0F1;*/
	background: #FEFEFF;
}

ul {
	list-style-type: none;
	padding:0;
}

a {
	text-decoration: none;
	color:#355E0B; 
}

a:hover {
    color:#3C7832;
}

h1, h3 {
	/*font-size:2em;*/
	margin:0;
	padding:0;

}

h1 {
	font-size:2.5em;
}



	

/*-------- SECTIONS ------*/
section {
	padding: 24px 0;
}

section>div {
	width:66%;
	margin:0 auto;
}


.template-title {
  text-align: center;
  /*margin-right:12px;*/
  /*margin-right:-12px;*/
  /*margin-top:0;*/
  color: #f4f3ef;
  /*background: #ECF0F1;*/
  background: #7D5CEB;
  padding:12px;
  /*width:110%;*/
  /*position:relative;*/
  /*right:6%;*/
}

.article-wrapper {

}

.first_letter { font-size: 3em; }


#footer { 
	color:white; 
	background:#B1ACFF; 
	width:100%; 
	/*height:100px;*/
	text-align: center;
	padding:24px 0;
	clear:both;
}

#footer p {
	padding:0;
	margin:0;
}


