#teaching h3 { background: #AAC4D1; color:snow; padding-left:12px;}

#teaching .experience li {
	/*border-top:1px solid grey;*/
	/*border-bottom:1px solid grey;*/
	margin-bottom:12px;
	/*text-align: center;*/
	/*width:90%;*/
	margin-left:12px;
	padding-left:12px;
	margin-top:0;margin-bottom:0;margin-right:0;
	background:snow;
}

.experience ul, .employment ul {
	margin-bottom:0;
}

#teaching .experience {margin-bottom:24px;}
#teaching .experience { background: #AAC4D1; padding-right:0; padding-bottom:0;}
.principal {
	font-size:1.1em;
	background:#2A5B84; 
	color:snow;
	padding-left:12px; 
}



.principal li{
	padding-left:24px;
	font-size:0.75em;
	background:snow;
	color:black;
}
.principal li:nth-child(even){
	background:#AAC4D1; 
	color:snow; 
}

#teaching .experience li:nth-child(even){ background:#AAC4D1; color:snow; }

.employment {
	line-height:25px; 
	background: #AAC4D1; 
	padding-right:0 !important; 
	padding-bottom:0 !important; 
	margin-right: 24px; 
	margin-right: 48px;
}

.employment li {margin-left:12px;}