article { margin-bottom:12px; }
article img { width: 100%; }
/*article .full img { width: 100%; }*/
article .full { 
  width: 66%; 
  margin:0 auto;
  border: 3px solid #29185E;
  padding:12px;
  background:snow;
}

/*.article-wrapper { background:#29185E }*/

article .full img {
  /*max-height:400px;*/
  width:50%;
  margin: 0 auto;
  display:block;
  /*text-align: center;*/
}

article .full img:first-child {
  width:100%;
}

article .preview p {
	font-size:0.8em;
}

article .preview:hover { opacity:0.6; cursor:pointer; }

article .citations {
  color: snow;
  /* background: #ECF0F1; */
  background: #B1ACFF;
  padding:12px;
  margin-top:12px;
}


article .citations li {
  margin-top:12px;
}

.call-to-action {
  text-align: center;
  font-size:1.25em;
}

h1 {
  text-align: center;
  margin-bottom:12px !important;
}