#welcome {
	background: url('/images/Seedlings.jpg') no-repeat #005fc9;
	background-size: cover;
	height:100vh;
	text-align: center;
	font-size:2em;
	background-attachment: fixed;
	color:#ECF0F1;
}

#welcome>.filter {
/*	content:"";
	background:#19698c;
	position:absolute;
	width:100%;
	height:100vh;
	opacity:0.66;*/
}

#welcome>h1, #welcome>p {
	z-index:1000;
	position:absolute;
	top:50vh;
	left:50px;
}

#welcome>p {
	top: 55vh;
	line-height: 1.2em;

}
