


.profile_photo {
	background: url('images/zoe.jpg') no-repeat 20% center;
	background-size: cover;
	width:250px;
	height:250px;
	border-radius:50%;
	border:5px solid #e14d41;
  margin:12px 0 0 auto;
	
}


#about-text {
  /*border-left: 1px solid;*/
  /*border-right: 1px solid;*/
  padding-left:24px;
  padding-right:24px;
}

#about-text>p {
  width:95%;
  margin-top: 18px;  
  margin-left:auto;
  margin-right:auto;
  font-size:1.1em;
}

#about-text p:first-child {
  margin-top:0;
}

.template-title {
  text-align: right;
  /*margin-right:12px;*/
  margin-right:-12px;
  margin-top:0;
  color: #f4f3ef;
  /*background: #ECF0F1;*/
  background: #403d39;
  padding:12px;
  width:110%;
  position:relative;
  right:6%;
}

.standalone {
  font-size:1.2em;
  color: #f4f3ef;
  /*background: #ECF0F1;*/
  background: #403d39;
  padding: 12px 12px 1px 12px;
  /*border-radius:12px;*/
  text-align:center;
  /*display:inline-block;*/
  width:110%;
  margin-left:-24px;
  margin-right:0;
}

.left_col {
  text-align: right;
  border-right:1px solid #403d39;
}

.education ul {
  width: 90%;
  float: right;
  margin:0;
  list-style-type: circle;
  list-style-position: inside;
  /*text-align: right;*/
}

.education li {

}

.education {
  margin-top: 12px;
  font-size:0.9em;
}

.education > h3 {
  border-bottom: 1px solid #403d39;
}


@media(max-width: 760px) {
  .profile_photo {
    margin-right:auto !important;
  }

  .education {
    float:none !important;
    text-align:left !important;
    padding-left:24px; 
    padding-right:24px;
  }
  .education ul {
    /*border-bottom:1px solid #403d39;*/
    /*padding:none;*/
    float:none;
  }

  .left_col { border-right:none; }

  #about-text { border-top: 1px solid #403d39; padding-top: 12px; }

  .template-title { text-align:left; }
  
}
 
