
.profile_photo {
	background: url('images/zoe.jpg') no-repeat 20% center;
	background-size: cover;
	width:250px;
	height:250px;
	border-radius:50%;
	border:5px solid #e14d41;
  margin:0 0 0 auto;
	
}

#about-text>p {
  width:90%;
  margin-top:36px;
  border-left: 1px solid;
  border-right: 1px solid;
  padding-left:12px;
  padding-right:12px;
}

#about-text p:first-child {
  margin-top:0;
}

.template-title {
  text-align: right;
  margin-right:12px;
}

.standalone {
  width:auto;
  font-size:1.2em;
  color: #f4f3ef;
  /*background: #ECF0F1;*/
  background: #403d39;
  padding: 12px 12px 1px 12px;
  /*border-radius:12px;*/
  text-align:center;
  /*display:inline-block;*/
  width:90%;
}